# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
# /node_modules
bountyAppUi/node_modules/.cache/*

# /.pnp
# .pnp.js

# testing
# /coverage

# production
# /build

# misc
.DS_Store
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local

# npm-debug.log*
# yarn-debug.log*
# yarn-error.log*
bountyAppUi/node_modules/.cache/.eslintcache
bountyAppUi/node_modules/.cache/default-development/0.pack
bountyAppUi/node_modules/.cache/default-development/1.pack
bountyAppUi/node_modules/.cache/default-development/2.pack
bountyAppUi/node_modules/.cache/default-development/3.pack
bountyAppUi/node_modules/.cache/default-development/4.pack
bountyAppUi/node_modules/.cache/default-development/5.pack
bountyAppUi/node_modules/.cache/default-development/6.pack
bountyAppUi/node_modules/.cache/default-development/7.pack
bountyAppUi/node_modules/.cache/default-development/8.pack
bountyAppUi/node_modules/.cache/default-development/9.pack
bountyAppUi/node_modules/.cache/default-development/10.pack
bountyAppUi/node_modules/.cache/default-development/11.pack
bountyAppUi/node_modules/.cache/default-development/12.pack
bountyAppUi/node_modules/.cache/default-development/13.pack
bountyAppUi/node_modules/.cache/default-development/14.pack
bountyAppUi/node_modules/.cache/default-development/15.pack
bountyAppUi/node_modules/.cache/default-development/16.pack
bountyAppUi/node_modules/.cache/default-development/17.pack
bountyAppUi/node_modules/.cache/default-development/18.pack
bountyAppUi/node_modules/.cache/default-development/19.pack
bountyAppUi/node_modules/.cache/default-development/20.pack
bountyAppUi/node_modules/.cache/default-development/21.pack
bountyAppUi/node_modules/.cache/default-development/22.pack
bountyAppUi/node_modules/.cache/default-development/23.pack
bountyAppUi/node_modules/.cache/default-development/index.pack
bountyAppUi/node_modules/.cache/default-development/index.pack.old
bountyAppUi/node_modules/.cache/default-development/0.pack
bountyAppUi/node_modules/.cache/default-development/1.pack
bountyAppUi/node_modules/.cache/default-development/2.pack
bountyAppUi/node_modules/.cache/default-development/3.pack
bountyAppUi/node_modules/.cache/default-development/4.pack
bountyAppUi/node_modules/.cache/default-development/5.pack
bountyAppUi/node_modules/.cache/default-development/6.pack
bountyAppUi/node_modules/.cache/default-development/7.pack
bountyAppUi/node_modules/.cache/default-development/8.pack
bountyAppUi/node_modules/.cache/default-development/9.pack
bountyAppUi/node_modules/.cache/default-development/10.pack
bountyAppUi/node_modules/.cache/default-development/11.pack
bountyAppUi/node_modules/.cache/default-development/12.pack
bountyAppUi/node_modules/.cache/default-development/13.pack
bountyAppUi/node_modules/.cache/default-development/14.pack
bountyAppUi/node_modules/.cache/default-development/15.pack
bountyAppUi/node_modules/.cache/default-development/16.pack
bountyAppUi/node_modules/.cache/default-development/17.pack
bountyAppUi/node_modules/.cache/default-development/18.pack
bountyAppUi/node_modules/.cache/default-development/19.pack
bountyAppUi/node_modules/.cache/default-development/20.pack
bountyAppUi/node_modules/.cache/default-development/21.pack
bountyAppUi/node_modules/.cache/default-development/22.pack
bountyAppUi/node_modules/.cache/default-development/23.pack
bountyAppUi/node_modules/.cache/default-development/index.pack
bountyAppUi/node_modules/.cache/default-development/index.pack.old
bountyAppUi/node_modules/.cache/default-development/0.pack
bountyAppUi/node_modules/.cache/default-development/1.pack
bountyAppUi/node_modules/.cache/default-development/2.pack
bountyAppUi/node_modules/.cache/default-development/3.pack
bountyAppUi/node_modules/.cache/default-development/4.pack
bountyAppUi/node_modules/.cache/default-development/5.pack
bountyAppUi/node_modules/.cache/default-development/6.pack
bountyAppUi/node_modules/.cache/default-development/7.pack
bountyAppUi/node_modules/.cache/default-development/8.pack
bountyAppUi/node_modules/.cache/default-development/9.pack
bountyAppUi/node_modules/.cache/default-development/10.pack
bountyAppUi/node_modules/.cache/default-development/11.pack
bountyAppUi/node_modules/.cache/default-development/12.pack
bountyAppUi/node_modules/.cache/default-development/13.pack
bountyAppUi/node_modules/.cache/default-development/14.pack
bountyAppUi/node_modules/.cache/default-development/15.pack
bountyAppUi/node_modules/.cache/default-development/16.pack
bountyAppUi/node_modules/.cache/default-development/17.pack
bountyAppUi/node_modules/.cache/default-development/18.pack
bountyAppUi/node_modules/.cache/default-development/19.pack
bountyAppUi/node_modules/.cache/default-development/20.pack
bountyAppUi/node_modules/.cache/default-development/21.pack
bountyAppUi/node_modules/.cache/default-development/22.pack
bountyAppUi/node_modules/.cache/default-development/23.pack
bountyAppUi/node_modules/.cache/default-development/index.pack
bountyAppUi/node_modules/.cache/default-development/index.pack.old
bountyAppUi/node_modules/.cache/default-development/0.pack
bountyAppUi/node_modules/.cache/default-development/1.pack
bountyAppUi/node_modules/.cache/default-development/2.pack
bountyAppUi/node_modules/.cache/default-development/3.pack
bountyAppUi/node_modules/.cache/default-development/4.pack
bountyAppUi/node_modules/.cache/default-development/5.pack
bountyAppUi/node_modules/.cache/default-development/6.pack
bountyAppUi/node_modules/.cache/default-development/7.pack
bountyAppUi/node_modules/.cache/default-development/8.pack
bountyAppUi/node_modules/.cache/default-development/9.pack
bountyAppUi/node_modules/.cache/default-development/10.pack
bountyAppUi/node_modules/.cache/default-development/11.pack
bountyAppUi/node_modules/.cache/default-development/12.pack
bountyAppUi/node_modules/.cache/default-development/13.pack
bountyAppUi/node_modules/.cache/default-development/14.pack
bountyAppUi/node_modules/.cache/default-development/15.pack
bountyAppUi/node_modules/.cache/default-development/16.pack
bountyAppUi/node_modules/.cache/default-development/17.pack
bountyAppUi/node_modules/.cache/default-development/18.pack
bountyAppUi/node_modules/.cache/default-development/19.pack
bountyAppUi/node_modules/.cache/default-development/20.pack
bountyAppUi/node_modules/.cache/default-development/21.pack
bountyAppUi/node_modules/.cache/default-development/22.pack
bountyAppUi/node_modules/.cache/default-development/23.pack
bountyAppUi/node_modules/.cache/default-development/index.pack
bountyAppUi/node_modules/.cache/default-development/index.pack.old
bountyAppUi/node_modules/.cache/.eslintcache
bountyAppUi/node_modules/.cache/.eslintcache
bountyAppUi/node_modules/.cache/default-development/0.pack
bountyAppUi/node_modules/.cache/default-development/1.pack
bountyAppUi/node_modules/.cache/default-development/2.pack
bountyAppUi/node_modules/.cache/default-development/3.pack
bountyAppUi/node_modules/.cache/default-development/4.pack
bountyAppUi/node_modules/.cache/default-development/6.pack
bountyAppUi/node_modules/.cache/default-development/7.pack
bountyAppUi/node_modules/.cache/default-development/8.pack
bountyAppUi/node_modules/.cache/default-development/9.pack
bountyAppUi/node_modules/.cache/default-development/10.pack
bountyAppUi/node_modules/.cache/default-development/11.pack
bountyAppUi/node_modules/.cache/default-development/12.pack
bountyAppUi/node_modules/.cache/default-development/13.pack
bountyAppUi/node_modules/.cache/default-development/14.pack
bountyAppUi/node_modules/.cache/default-development/15.pack
bountyAppUi/node_modules/.cache/default-development/16.pack
bountyAppUi/node_modules/.cache/default-development/index.pack
bountyAppUi/node_modules/.cache/default-development/index.pack.old
